@media screen and (min-width: 780px) {
    main, nav {
        max-width: 980px;
        margin: 0 auto;
    }

    h1 { font-size: 5vw; }

    header {
        nav.desktop { display: block; }
        nav.mobile { display: none; }

    }

    .formation_container {
        article {
            flex-basis: 30%;

        }
    }














}

   