@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto.woff") format("woff");
  font-display: swap; }
@font-face {
  font-family: 'Playfair regular';
  src: url("../fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-display: swap; }
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/open-sans/opensans_bold_macroman/OpenSans-Bold-webfont.woff") format("woff");
  font-display: swap; }
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../fonts/open-sans/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont.woff") format("woff");
  font-display: swap; }
*, before, after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Roboto; }

header {
  position: sticky;
  top: -120px;
  z-index: 1000; }
  header img {
    filter: grayscale(100); }
  header .burger-menu {
    background-color: goldenrod; }
  header nav.desktop {
    display: none; }
    header nav.desktop ul {
      width: 80%;
      background-color: goldenrod;
      display: flex;
      gap: .1em; }
    header nav.desktop li {
      padding: 15px 10px;
      font-family: 'Roboto';
      flex: 1 0 auto; }
      header nav.desktop li:hover {
        background-color: #fff;
        color: goldenrod; }
        header nav.desktop li:hover a {
          color: goldenrod; }
      header nav.desktop li a {
        color: #fff;
        text-decoration: none; }
  header nav a {
    color: goldenrod; }
    header nav a:hover {
      color: #373737; }
    header nav a:active {
      color: #373737; }

h1, h2 {
  font-family: 'Playfair regular'; }

ul {
  list-style: none; }

h1 {
  text-align: center;
  color: #fff;
  font-size: 4vh;
  text-shadow: 0 5px 5px black; }

h2 {
  color: goldenrod; }

/** POUR TOUTES LES SECTION **/
section {
  padding: 20px;
  /* sections paires */
  /* sections impaires */ }
  section:nth-of-type(odd) {
    background-color: rgba(55, 55, 55, 0.8);
    color: #fff; }
    section:nth-of-type(odd) h2 {
      color: goldenrod; }
  section:nth-of-type(even) h2 {
    color: black; }

/** SECTION A PROPOS **/
.apropos_blocfoto {
  display: flex; }
  .apropos_blocfoto-description {
    display: flex;
    justify-content: space-around; }
    .apropos_blocfoto-description li:nth-child(1) {
      font-size: 1.5em; }
    .apropos_blocfoto-description li:nth-child(2) {
      position: relative; }
      .apropos_blocfoto-description li:nth-child(2)::before {
        font-family: 'Material Icons';
        font-size: 1.2em;
        content: '\e0be';
        position: absolute;
        top: 0;
        left: 0; }
    .apropos_blocfoto-description li:nth-child(3) {
      position: relative; }
      .apropos_blocfoto-description li:nth-child(3)::before {
        font-family: 'Material Icons';
        font-size: 1.2em;
        content: '\e0dd';
        position: absolute;
        top: 0;
        left: 0; }

.experience {
  background-color: lighter(#373737); }

footer {
  background-color: #373737;
  color: #fff; }

@media only screen and (min-width: 780px) {
  main, nav {
    max-width: 980px;
    margin: 0 auto; }

  h1 {
    font-size: 10vh; }

  nav.mobile {
    display: none; }
  nav.desktop {
    display: block; } }

/*# sourceMappingURL=style.css.map */
